@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
--cor-primaria: #000000;
--cor-secundaria: rgb(252, 181, 0);
--cor-terciaria: #22D4FD;
--cor-quarteraria: white;
--cor-quinteraria: #1100ff;
--cor-sextaria: #040441;
--cor-setiaria: #1EDB00;
--cor-oteraria: #00E033;
--cor-nonaria: #04D939;
--fonte-primaria: 'krona One', sans-serif;
--font-secundaria: 'Montserrat', sans-serif;
--peso-fonte400: 400;
}


*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-secundaria);
    width: 170px;
    text-align: center;
    border-radius: 30px;
    font-size:  24px;
    font-weight: 600;
    padding: 8px 0;
    text-decoration: none;
    color: var(--cor-quarteraria); 
    font-family: var(--font-secundaria);
}

.cabecalho__menu__link:hover{
    background-color: var(--cor-quarteraria);
    text-decoration: none;
    color: var(--cor-primaria);
    border: 3px dotted var(--cor-terciaria);
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
    
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--font-secundaria)
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: var(--peso-fonte400);
    font-size: 1.5rem;
    
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 4px solid var(--cor-terciaria);
    width: 70%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-quarteraria);
    font-family: var(--font-secundaria)

}

.apresentacao__links__navegacao:hover{
    background-color: var(--cor-quarteraria);
    padding: 3%;
    text-decoration: none;
    color: var(--cor-primaria);
    border: 5px dotted var(--cor-terciaria);
}

.rodape{
    padding: 2%;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: var(--peso-fonte400);
    
}

.apresentacao__conteudo__texto a{
    text-decoration: none;
    color: var(--cor-terciaria);
}

.curriculo{
    width: 40%;
    
}

.curriculo2{
    width: 0%;
}
.imagem2{
    width: 0%;
}

@media (max-width:1200px){
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5% 5% 0% 0%;
        text-align: center;
    }

    .apresentacao__conteudo{
        width: auto;
    }
        
    body{
        background-color: var(--cor-primaria);
    }

    .cabecalho__menu__link{
        border: 0px solid var(--cor-oteraria);
        color: var(--cor-nonaria);
    }

    .apresentacao__conteudo__titulo{
        text-align: center;
        color: var(--cor-setiaria);
        padding: 1%;
    }

    .titulo-destaque{
        color: var(--cor-quinteraria);
    }

    .apresentacao__conteudo__texto{
        color: var(--cor-setiaria);
    }
    
    .apresentacao{
        color: var(--cor-setiaria);
        padding: 8%;
    }
    .cabecalho__menu__link:hover{
        background-color: var(--cor-quarteraria);
        color: var(--cor-oteraria);
        border: 4px dotted var(--cor-oteraria);
    }

    .apresentacao__links__navegacao{
         background-color: var(--cor-quinteraria);
         border: 4px solid var(--cor-sextaria);
         width: 65%;
    }

    .apresentacao__links__navegacao:hover{
        background-color: var(--cor-quinteraria);
        border: 4px dotted var(--cor-sextaria);
        padding: 2%;
    }
    
    .apresentacao__conteudo__texto a{
        text-decoration: none;
        color: var(--cor-quinteraria);
    }
    .imagem{
        width: 50%;
    }

    .rodape{
        background-color: var(--cor-setiaria);
    }

    .curriculo{
        width: 0%;
    }
    .curriculo2{
        width: 55%;
    }

    .imagem{
        width: 0%;
    }

    .imagem2{
        width: 60%;
    }

    .cabecalho__menu__link{
        font-size:  17px;
    }
}